@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: against;
  src: url(./assets/against\ regular.otf);
  font-weight: bold;
}

body {
  background-color: #2A2A2A;
  color: white;
}

.navbar {
  font-family: 'Playfair Display';
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 5%;
  color: #ECEDE3;
  font-weight: 700;
}

.nav-title {
  font-size: 48px;
  cursor: pointer;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 40%;
  font-size: 24px;
  cursor: pointer;
}

.title {
  font-family: 'against';
  font-size: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%)
}

.profile-img {
  background-image: url(./assets/IMG_4830.png);
  background-size: cover;
  background-position: top center;
  height: 70%;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%)
}